.fullSize() {
    left:  0; top: 0;
    width: 100%; height: 100%;
}

.bf2-lightbox-container {
    .fullSize();
    position: fixed;
}

.bf2-lightbox-shadow {
    .fullSize();
    position:         absolute;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    background-color: rgba(0, 0, 0, 0.5);
}

.bf2-lightbox-content {
    position:         relative;
    border:           1px solid #000;
    background-color: #ccc;
    box-shadow:       0 0 50px rgba(0, 0, 0, 0.5);

    .bf2-settings-lightbox & {
        width:     90vw;
        height:    90vh;
        max-width: 800px;

        iframe {
            .fullSize();
        }
    }

    .bf2-access-token-lightbox & {
        background-color: white;
        max-width:        90vw;
        padding:          2em;

        button {
            padding: .25em 2em;
            cursor:  pointer;
        }

        .bf2-access-token {
            word-wrap:        break-word;
            font-family:      monospace;
            color:            #069;
            background-color: #eee;
            padding:          1em;
        }
    }
}

.bf2-green {
    padding: 1em;
}

.bf2-via-names {
    font-size: 12px;
}

.bf2-hide-aliens-cont {
    font-size:   14px;
    font-weight: normal;
    margin-left: 1em;
    display:     none;

    .bf2-homepage & {
        display: inline;
    }
}

.bf2-hide-aliens .bf2-alien-post {
    display: none;
}

.bf2-saving-settings-indicator {
    position:      fixed;
    top:           0.66em;
    right:         1em;
    background:    #f66;
    color:         white;
    padding:       0.25em 1em;
    border-radius: 4px;
    z-index:       100;
}

.bf2-animated-gif {
    position: relative;
    display:  inline-block;

    &::after {
        content:          "\25B6 GIF";
        position:         absolute;
        bottom:           3px;
        right:            4px;
        background-color: #069;
        color:            #eee;
        font-weight:      bold;
        padding:          0.1em 0.4em;
        border-radius:    3px;
        font-size:        11px;
    }
}

.comment {
    position: relative;
}

.bf2-likecomm-shift {
    position: absolute;
    top:      0;
    left:     -6px;
}

.bf2-likecomm-cont {
    position:   absolute;
    top:        1px;
    right:      0;
    font-size:  12px;
    color:      #999;
    opacity:    0;
    transition: opacity 0.5s;

    &.bf2-likecomm-liked {
        opacity: 1;
    }

    .comment:hover & {
        opacity:    1;
        transition: opacity 0.25s;
    }
}

.bf2-likecomm-count {
    margin-right: 0.3em;
    display:      none;
    cursor:       pointer;

    &:hover {
        text-decoration: underline;
    }

    .bf2-likecomm-liked & {
        display: inline;
    }
}

.bf2-likecomm-act {
    position:   relative;
    cursor:     pointer;
    color:      #bbb;
    transition: transform 0.25s;

    &::after {
        content:    "";
        visibility: hidden;
        transition: visibility 0s;
    }

    &:hover {
        transform: scale(1.5);

        &::after {
            content:     "Like";
            position:    absolute;
            top:         -9px;
            left:        -1px;
            font:        8px Helvetica Neue, Helvetica, Arial, sans-serif;
            white-space: nowrap;
            visibility:  visible;
            transition:  visibility 0s .25s;

            .bf2-likecomm-with-my & {
                content: "Un-like";
                left:    -6px;
            }
        }
    }

    .bf2-likecomm-act::after {
        content:  "Like";
        position: absolute;
        top:      -14px;
        left:     -5px;
        font:     12px Arial;
    }
}

.bf2-likecomm-with-my {
    color: #d00;

    .bf2-likecomm-act {
        color: #e66;
    }
}

.bf2-likecomm-list {
    position:   absolute;
    border:     1px solid #999;
    color:      black;
    padding:    0.5em;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    min-width:  100px;
    max-height: 200px;
    overflow:   auto;
    top:        22px;
    left:       -9px;
    z-index:    1;
}

.bf2-likecomm-list::before {
    content:       "";
    border:        1px solid #999;
    width:         8px;
    height:        8px;
    position:      absolute;
    transform:     rotate(45deg);
    border-bottom: none;
    border-right:  none;
    left:          7px;
    top:           -5px;
    background:    #fff;
}